{% extends "base.html" %}

{% block content %}


<div id="mainPanelContainer"></div>

<script>
    Ext.onReady(function () {

        var storeTree = Ext.create('Ext.data.TreeStore', {
            proxy: {
                type: 'ajax',
                url: '/folders',
                reader: {
                    type: 'json',
                    rootProperty: 'data'
                },
                autoLoad: true
            }
        });


        var devicesStore = Ext.create('Ext.data.Store', {
            fields: [
                {
                    name:'id',
                    mapping:'id',
                    type:'integer'
                }, {
                    name:'name',
                    mapping:'name'
                }, {
                    name:'code',
                    mapping:'code'
                }
            ],
            proxy: {
                type: 'ajax',
                url: '/devices',
                reader: {
                    type: 'json',
                    rootProperty: 'data'
                },
                autoLoad: true
            }
        });


        var contentStore = Ext.create('Ext.data.Store', {
            fields: [
                {
                    name:'id',
                    mapping:'id',
                    type:'integer'
                }, {
                    name:'name',
                    mapping:'name'
                }, {
                    name:'code',
                    mapping:'code'
                }
            ],
            proxy: {
                type: 'ajax',
                url: '/contents',
                reader: {
                    type: 'json',
                    rootProperty: 'data'
                },
                autoLoad: false
            }
        });

        Ext.create('Ext.Panel', {
            id: 'mainPanel',
            renderTo: 'mainPanelContainer',
            width: 800,
            title: 'Devices & contents',
            layout: {
                type: 'hbox',
                align: 'stretch'
            },
            items: [
                {
                    xtype: 'container',
                    flex: 2,
                    layout: {
                        type: 'vbox',
                        align: 'stretch'
                    },
                    items: [
                        {
                            xtype: 'grid',
                            title: 'Devices',
                            height: 250,
                            width: 250,
                            store: devicesStore,
                            plugins: 'gridfilters',
                            selType: 'rowmodel',
                            selModel: {
                                mode: 'SINGLE'
                            },
                            viewConfig: {
                                stripeRows: true
                            },
                            listeners:{
                                select:function(rowModel, record){
                                    contentStore.getProxy().setExtraParam('device_id', record.get('id'));
                                    contentStore.load();
                                }
                            },
                            dockedItems: [{
                                xtype: 'pagingtoolbar',
                                store: devicesStore,
                                dock: 'bottom',
                                displayInfo: true
                            }],
                            columns: [{
                                dataIndex: 'code',
                                text: 'Code',
                                flex: 1
                            }, {
                                dataIndex: 'name',
                                text: 'Name',
                                flex: 1
                            }, {
                                dataIndex: 'description',
                                text: 'Description',
                                flex: 1
                            }, {
                                dataIndex: 'created',
                                text: 'Created',
                                flex: 1
                            }, {
                                dataIndex: 'updated',
                                text: 'Updated',
                                flex: 1
                            }, {
                                dataIndex: 'expire_date',
                                text: 'Expire',
                                flex: 1
                            }, {
                                dataIndex: 'status',
                                text: 'Status',
                                flex: 1
                            }]
                        }, {
                            xtype: 'grid',
                            flex: 1,
                            title: 'Contents',
                            store: contentStore,
                            plugins: 'gridfilters',
                            selType: 'rowmodel',
                            selModel: {
                                mode: 'SINGLE'
                            },
                            viewConfig: {
                                stripeRows: true
                            },
                            dockedItems: [{
                                xtype: 'pagingtoolbar',
                                store: contentStore,
                                dock: 'bottom',
                                displayInfo: true
                            }],
                            columns: [{
                                dataIndex: 'name',
                                text: 'Name',
                                flex: 1
                            }, {
                                dataIndex: 'description',
                                text: 'Description',
                                flex: 1
                            }, {
                                dataIndex: 'created',
                                text: 'Created',
                                flex: 1
                            }, {
                                dataIndex: 'updated',
                                text: 'Updated',
                                flex: 1
                            }, {
                                dataIndex: 'expire_date',
                                text: 'Expire',
                                flex: 1
                            }, {
                                dataIndex: 'status',
                                text: 'Status',
                                flex: 1
                            }]
                        }
                    ]
                }, {
                    xtype: 'container',
                    flex: 1,
                    layout: {
                        type: 'vbox',
                        align: 'stretch'
                    },
                    items: [
                        {
                            xtype: 'treepanel',
                            title: 'Folder structure',
                            flex: 1,
                            useArrows: false,
                            rootVisible: false,
                            store: storeTree,
                            multiSelect: false,
                            listeners: {
                                select: function (grid, record) {

                                    function treeParse(record, dirList = '') {
                                        if (record.parentNode) {
                                            dirList += record.get('text') + '/' + treeParse(record.parentNode, dirList);
                                            return dirList;
                                        } else {
                                            return '';
                                        }
                                    }

                                    var path = treeParse(record);
                                    var panel = Ext.getCmp('mainPanel');
                                    var importSourceField = panel.down('textfield[name="import_source"]');
                                    importSourceField.setValue(path);
                                    console.log(importSourceField);
                                }
                            }

                        }, {
                            xtype: 'panel',
                            layout: {
                                type: 'vbox',
                                align: 'stretch'
                            },
                            bodyPadding: 15,
                            items: [{
                                xtype: 'textfield',
                                name: 'import_source',
                                labelAlign: 'top',
                                allowBlank: false,
                                editable: false,
                                flex: 1,
                                fieldLabel: 'Import source'
                            }, {
                                xtype: 'textfield',
                                name: 'csv_separator',
                                labelAlign: 'top',
                                allowBlank: false,
                                value: ',',
                                flex: 1,
                                fieldLabel: 'CSV separator'
                            }, {
                                xtype: 'button',
                                width: 100,
                                text: 'Import data',
                                handler: function (btn) {
                                    var panel = btn.up('panel');
                                    var importSourceField = panel.down('textfield[name="import_source"]');
                                    var csvSeparatorField = panel.down('textfield[name="csv_separator"]');
                                    if (!importSourceField.getValue() || !csvSeparatorField.getValue()) {
                                        return;
                                    }
                                    var obj = {
                                        import_source: importSourceField.getValue(),
                                        csv_sep: csvSeparatorField.getValue()
                                    };
                                    console.log(obj);
                                    Ext.Ajax.request({
                                        url: 'http://localhost/importData',
                                        method: 'POST',
                                        params: obj,
                                        success: function (response, opts) {
                                            var obj = Ext.decode(response.responseText);
                                            console.dir(obj);
                                        },

                                        failure: function (response, opts) {
                                            console.log(
                                                'server-side failure with status code ' +
                                                response.status);
                                        }
                                    });
                                }
                            }]
                        }
                    ]
                }
            ]
        });
    });
</script>

{% endblock %}


