{% extends "base.html" %}

{% block content %}


<div id="mainPanelContainer"></div>

<script>
    Ext.onReady(function () {

        var storeTree = Ext.create('Ext.data.TreeStore', {
            proxy: {
                type: 'ajax',
                url: '/folders',
                reader: {
                    type: 'json',
                    rootProperty: 'data'
                },
            },
            autoLoad: true
        });


        var devicesStore = Ext.create('Ext.data.Store', {
            autoLoad: true,
            remoteSort: true,
            remoteFilter: true,
            fields: [
                {
                    name: 'id',
                    mapping: 'id',
                    type: 'integer'
                }, {
                    name: 'code'
                }, {
                    name: 'description'
                }, {
                    name: 'name'
                }, {
                    name: 'status'
                }, {
                    name:'date_created'
                    //,renderer: Ext.util.Format.dateRenderer
                }, {
                    name:'date_updated'
                }
            ],
            proxy: {
                type: 'ajax',
                url: '/devices',
                reader: {
                    type: 'json',
                    rootProperty: 'data'
                }
            }
        });


        var contentStore = Ext.create('Ext.data.Store', {
            autoLoad: false,
            fields: [
                {
                    name: 'id',
                    mapping: 'id',
                    type: 'integer'
                }, {
                    name: 'name'
                }, {
                    name: 'date_created'
                }, {
                    name: 'date_updated'
                }, {
                    name: 'status'
                },{
                    name: 'description'
                }, {
                    name: 'expire_date'
                }
            ],
            proxy: {
                type: 'ajax',
                url: '/contents',
                reader: {
                    type: 'json',
                    rootProperty: 'data'
                }
            }
        });

        Ext.create('Ext.Panel', {
            id: 'mainPanel',
            renderTo: 'mainPanelContainer',
            width: 800,
            title: 'Devices & contents',
            layout: {
                type: 'hbox',
                align: 'stretch'
            },
            items: [
                {
                    xtype: 'container',
                    flex: 2,
                    layout: {
                        type: 'vbox',
                        align: 'stretch'
                    },
                    items: [
                        {
                            xtype: 'grid',
                            title: 'Devices',
                            id: 'devicesGrid',
                            flex: 1,
                            height: 350,
                            store: devicesStore,
                            plugins: 'gridfilters',
                            selType: 'rowmodel',
                            selModel: {
                                mode: 'SINGLE'
                            },
                            viewConfig: {
                                stripeRows: true
                            },
                            listeners: {
                                select: function (rowModel, record) {
                                    Ext.getCmp('contentGrid').setDisabled(false);
                                    contentStore.getProxy().setExtraParam('device_id', record.get('id'));
                                    contentStore.load();
                                }
                            },
                            dockedItems: [{
                                xtype: 'pagingtoolbar',
                                store: devicesStore,
                                dock: 'bottom',
                                displayInfo: true
                            }],
                            columns: [{
                                dataIndex: 'code',
                                text: 'Code',
                                flex: 1
                            }, {
                                dataIndex: 'name',
                                text: 'Name',
                                flex: 1
                            }, {
                                dataIndex: 'description',
                                text: 'Description',
                                flex: 1
                            }, {
                                dataIndex: 'date_created',
                                text: 'Created',
                                flex: 1
                            }, {
                                dataIndex: 'date_updated',
                                text: 'Updated',
                                flex: 1
                            }, {
                                dataIndex: 'status',
                                text: 'Status',
                                flex: 1
                            }]
                        }, {
                            xtype: 'grid',
                            id: 'contentGrid',
                            flex: 1,
                            disabled: true,
                            height: 350,
                            title: 'Contents',
                            store: contentStore,
                            plugins: 'gridfilters',
                            selType: 'rowmodel',
                            selModel: {
                                mode: 'SINGLE'
                            },
                            viewConfig: {
                                stripeRows: true
                            },
                            dockedItems: [{
                                xtype: 'pagingtoolbar',
                                store: contentStore,
                                dock: 'bottom',
                                displayInfo: true
                            }],
                            columns: [{
                                dataIndex: 'name',
                                text: 'Name',
                                flex: 1
                            }, {
                                dataIndex: 'description',
                                text: 'Description',
                                flex: 1
                            }, {
                                dataIndex: 'date_created',
                                text: 'Created',
                                flex: 1
                            }, {
                                dataIndex: 'date_updated',
                                text: 'Updated',
                                flex: 1
                            }, {
                                dataIndex: 'expire_date',
                                text: 'Expire date',
                                flex: 1
                            }, {
                                dataIndex: 'status',
                                text: 'Status',
                                flex: 1
                            }]
                        }
                    ]
                }, {
                    xtype: 'container',
                    flex: 1,
                    layout: {
                        type: 'vbox',
                        align: 'stretch'
                    },
                    items: [
                        {
                            xtype: 'treepanel',
                            id: 'treePanel',
                            title: 'Folder structure',
                            flex: 1,
                            useArrows: false,
                            rootVisible: false,
                            store: storeTree,
                            multiSelect: false,
                            listeners: {
                                select: function (grid, record) {
                                    function treeParse(record, dirList = '') {
                                        if (record.parentNode) {
                                            dirList += record.get('text') + '/' + treeParse(record.parentNode, dirList);
                                            return dirList;
                                        } else {
                                            return '';
                                        }
                                    }

                                    var labelPath = '';
                                    var path = treeParse(record);
                                    var panel = Ext.getCmp('mainPanel');
                                    if (!panel) {
                                        throw 'Cannot reach main panel!';
                                    }
                                    path = path.split('/');
                                    path.reverse();
                                    Ext.each(path, function (item) {
                                        labelPath += item + '/'
                                    });

                                    var importSourceField = panel.down('textfield[name="import_source"]');
                                    importSourceField.setValue(labelPath);
                                }
                            }
                        }, {
                            xtype: 'panel',
                            layout: {
                                type: 'vbox',
                                align: 'stretch'
                            },
                            bodyPadding: 15,
                            items: [{
                                xtype: 'textfield',
                                name: 'import_source',
                                labelAlign: 'top',
                                allowBlank: true,
                                editable: false,
                                flex: 1,
                                fieldLabel: 'Import source'
                            }, {
                                xtype: 'textfield',
                                name: 'csv_separator',
                                labelAlign: 'top',
                                allowBlank: true,
                                value: ',',
                                flex: 1,
                                fieldLabel: 'CSV separator'
                            }, {
                                xtype: 'button',
                                width: 100,
                                text: 'Import data',
                                handler: function (btn) {
                                    var panel = btn.up('panel');
                                    var importSourceField = panel.down('textfield[name="import_source"]');
                                    var csvSeparatorField = panel.down('textfield[name="csv_separator"]');
                                    if (!importSourceField || !csvSeparatorField) {
                                        return;
                                    }
                                    var obj = {
                                        import_source: importSourceField.getValue(),
                                        csv_sep: csvSeparatorField.getValue()
                                    };

                                    Ext.Ajax.request({
                                        url: '/import',
                                        method: 'POST',
                                        params: obj,
                                        success: function (response, opts) {
                                            var obj = Ext.decode(response.responseText);
                                            importSourceField.setValue(null);
                                            Ext.getCmp('devicesGrid').getSelectionModel().deselectAll();
                                            Ext.getCmp('treePanel').getSelectionModel().deselectAll();
                                            Ext.getCmp('contentGrid').setDisabled(true);
                                            contentStore.removeAll();
                                            if (obj && obj.success) {
                                                var title;
                                                var msg;
                                                if (obj.success) {
                                                    if (obj.msg) {
                                                        msg = obj.msg;
                                                    } else {
                                                        msg = 'Successfully imported!';
                                                    }
                                                } else {
                                                    if (obj.msg) {
                                                        msg = obj.msg;
                                                    } else {
                                                        msg = 'Server-side error!';
                                                    }
                                                }
                                                Ext.Msg.alert('Success', msg);
                                            } else {
                                                Ext.Msg.alert('Error', 'Server-side error!');
                                            }
                                        },
                                        failure: function (response, opts) {
                                            Ext.Msg.alert('Error', 'Server-side error!');
                                        }
                                    });
                                }
                            }]
                        }
                    ]
                }
            ]
        });
    });
</script>

{% endblock %}


