{% extends "base.html" %}

{% block content %}


<div id="mainPanelContainer"></div>

<script>
    Ext.onReady(function () {

        var storeTree = Ext.create('Ext.data.TreeStore', {
            proxy: {
                type: 'ajax',
                url: '/folders',
                reader: {
                    type: 'json',
                    rootProperty: 'data'
                },
            },
            autoLoad: true
        });


        var devicesStore = Ext.create('Ext.data.Store', {
            autoLoad: true,
            remoteSort: true,
            remoteFilter: true,
            fields: [
                {
                    name: 'id',
                    mapping: 'id',
                    type: 'integer'
                }, {
                    name: 'code'
                }, {
                    name: 'description'
                }, {
                    name: 'name'
                }, {
                    name: 'status'
                }, {
                    name: 'date_created'
                }, {
                    name: 'date_updated'
                }
            ],
            proxy: {
                type: 'ajax',
                url: '/devices',
                reader: {
                    type: 'json',
                    rootProperty: 'data'
                }
            }
        });

        var contentStore = Ext.create('Ext.data.Store', {
            autoLoad: false,
            remoteSort: true,
            remoteFilter: true,
            fields: [
                {
                    name: 'id',
                    mapping: 'id',
                    type: 'integer'
                }, {
                    name: 'name'
                }, {
                    name: 'date_created'
                }, {
                    name: 'date_updated'
                }, {
                    name: 'status'
                }, {
                    name: 'description'
                }, {
                    name: 'expire_date'
                }
            ],
            proxy: {
                type: 'ajax',
                url: '/contents',
                reader: {
                    type: 'json',
                    rootProperty: 'data'
                }
            }
        });

        Ext.create('Ext.Panel', {
            id: 'mainPanel',
            renderTo: 'mainPanelContainer',
            width: '100%',
            title: 'Devices & contents',
            layout: {
                type: 'hbox',
                align: 'stretch'
            },
            items: [
                {
                    xtype: 'container',
                    flex: 2,
                    layout: {
                        type: 'vbox',
                        align: 'stretch'
                    },
                    items: [
                        {
                            xtype: 'form',
                            id: 'devicesFilterForm',
                            title: 'Devices filter',
                            bodyPadding: 15,
                            layout: 'column',
                            items: [
                                {
                                    xtype: 'textfield',
                                    name: 'code',
                                    fieldLabel: 'Code',
                                    columnWidth: .5,
                                    maxLength: 32,
                                    enforceMaxLength: true,
                                    margin: '0 10 0 0',
                                    labelAlign: 'top'
                                }, {
                                    xtype: 'textfield',
                                    name: 'name',
                                    maxLength: 30,
                                    enforceMaxLength: true,
                                    fieldLabel: 'Name',
                                    columnWidth: .5,
                                    labelAlign: 'top'
                                }, {
                                    xtype: 'textfield',
                                    name: 'description',
                                    maxLength: 255,
                                    enforceMaxLength: true,
                                    fieldLabel: 'Description',
                                    margin: '0 10 0 0',
                                    columnWidth: .5,
                                    labelAlign: 'top'
                                }, {
                                    xtype: 'combobox',
                                    name: 'status',
                                    fieldLabel: 'Status',
                                    columnWidth: .5,
                                    queryMode: 'local',
                                    displayField: 'value',
                                    valueField: 'value',
                                    store: {
                                        fields: ['value'],
                                        data: [
                                            {"value": "enabled"},
                                            {"value": "disabled"},
                                            {"value": "deleted"}
                                        ]
                                    },
                                    labelAlign: 'top'
                                }, {
                                    xtype: 'datefield',
                                    name: 'created_from',
                                    margin: '0 10 0 0',
                                    format: 'd.m.Y.',
                                    submitFormat: 'Y-m-d',
                                    fieldLabel: 'Created from',
                                    columnWidth: .5,
                                    labelAlign: 'top'
                                }, {
                                    xtype: 'datefield',
                                    name: 'created_to',
                                    fieldLabel: 'Created to',
                                    format: 'd.m.Y.',
                                    submitFormat: 'Y-m-d',
                                    columnWidth: .5,
                                    labelAlign: 'top'
                                }, {
                                    xtype: 'datefield',
                                    name: 'updated_from',
                                    margin: '0 10 0 0',
                                    format: 'd.m.Y.',
                                    submitFormat: 'Y-m-d',
                                    fieldLabel: 'Updated from',
                                    columnWidth: .5,
                                    labelAlign: 'top'
                                }, {
                                    xtype: 'datefield',
                                    name: 'updated_to',
                                    format: 'd.m.Y.',
                                    submitFormat: 'Y-m-d',
                                    fieldLabel: 'Updated to',
                                    columnWidth: .5,
                                    labelAlign: 'top'
                                }, {
                                    xtype: 'button',
                                    text: 'Filter',
                                    margin: '10 0 0 0',
                                    columnWidth: .1,
                                    handler: function (btn) {
                                        var form = btn.up('form');
                                        devicesStore.getProxy().setExtraParam('query', Ext.encode(form.getValues()));
                                        devicesStore.load();
                                    }
                                }
                            ],
                            flex: 1,
                            collapsible: true,
                            collapsed: true
                        },
                        {
                            xtype: 'grid',
                            title: 'Devices',
                            id: 'devicesGrid',
                            flex: 1,
                            height: 350,
                            store: devicesStore,
                            plugins: 'gridfilters',
                            selType: 'rowmodel',
                            selModel: {
                                mode: 'SINGLE'
                            },
                            viewConfig: {
                                stripeRows: true
                            },
                            listeners: {
                                select: function (rowModel, record) {
                                    Ext.getCmp('contentGrid').setDisabled(false);
                                    contentStore.getProxy().setExtraParam('device_id', record.get('id'));
                                    contentStore.load();
                                }
                            },
                            dockedItems: [{
                                xtype: 'pagingtoolbar',
                                store: devicesStore,
                                dock: 'bottom',
                                displayInfo: true
                            }],
                            columns: [{
                                dataIndex: 'code',
                                text: 'Code',
                                flex: 1
                            }, {
                                dataIndex: 'name',
                                text: 'Name',
                                flex: 1
                            }, {
                                dataIndex: 'description',
                                text: 'Description',
                                flex: 1
                            }, {
                                dataIndex: 'date_created',
                                renderer: Ext.util.Format.dateRenderer('H:i:s d.m.Y'),
                                text: 'Created',
                                flex: 1
                            }, {
                                dataIndex: 'date_updated',
                                text: 'Updated',
                                renderer: Ext.util.Format.dateRenderer('H:i:s d.m.Y'),
                                flex: 1
                            }, {
                                dataIndex: 'status',
                                text: 'Status',
                                flex: 1
                            }]
                        }, {
                            xtype: 'form',
                            id: 'contentFilterForm',
                            title: 'Content filter',
                            bodyPadding: 15,
                            layout: 'column',
                            items: [
                                {
                                    xtype: 'textfield',
                                    name: 'name',
                                    margin: '0 10 0 0',
                                    fieldLabel: 'Name',
                                    maxLength: 100,
                                    enforceMaxLength: true,
                                    columnWidth: .5,
                                    labelAlign: 'top'
                                }, {
                                    xtype: 'textfield',
                                    name: 'description',
                                    fieldLabel: 'Description',
                                    columnWidth: .5,
                                    labelAlign: 'top'
                                }, {
                                    xtype: 'combobox',
                                    name: 'status',
                                    fieldLabel: 'Status',
                                    columnWidth: 1,
                                    queryMode: 'local',
                                    displayField: 'value',
                                    valueField: 'value',
                                    store: {
                                        fields: ['value'],
                                        data: [
                                            {"value": "enabled"},
                                            {"value": "disabled"},
                                            {"value": "deleted"}
                                        ]
                                    },
                                    labelAlign: 'top'
                                }, {
                                    xtype: 'datefield',
                                    name: 'created_from',
                                    margin: '0 10 0 0',
                                    format: 'd.m.Y.',
                                    submitFormat: 'Y-m-d',
                                    fieldLabel: 'Created from',
                                    columnWidth: .5,
                                    labelAlign: 'top'
                                }, {
                                    xtype: 'datefield',
                                    name: 'created_to',
                                    fieldLabel: 'Created to',
                                    format: 'd.m.Y.',
                                    submitFormat: 'Y-m-d',
                                    columnWidth: .5,
                                    labelAlign: 'top'
                                }, {
                                    xtype: 'datefield',
                                    name: 'updated_from',
                                    margin: '0 10 0 0',
                                    format: 'd.m.Y.',
                                    submitFormat: 'Y-m-d',
                                    fieldLabel: 'Updated from',
                                    columnWidth: .5,
                                    labelAlign: 'top'
                                }, {
                                    xtype: 'datefield',
                                    name: 'updated_to',
                                    format: 'd.m.Y.',
                                    submitFormat: 'Y-m-d',
                                    fieldLabel: 'Updated to',
                                    columnWidth: .5,
                                    labelAlign: 'top'
                                }, {
                                    xtype: 'datefield',
                                    name: 'expire_date_from',
                                    margin: '0 10 0 0',
                                    format: 'd.m.Y.',
                                    submitFormat: 'Y-m-d',
                                    fieldLabel: 'Expire date from',
                                    columnWidth: .5,
                                    labelAlign: 'top'
                                }, {
                                    xtype: 'datefield',
                                    name: 'expire_date_to',
                                    format: 'd.m.Y.',
                                    submitFormat: 'Y-m-d',
                                    fieldLabel: 'Expire date to',
                                    columnWidth: .5,
                                    labelAlign: 'top'
                                }, {
                                    xtype: 'button',
                                    text: 'Filter',
                                    margin: '10 0 0 0',
                                    columnWidth: .1,
                                    handler: function (btn) {
                                        var form = btn.up('form');
                                        contentStore.getProxy().setExtraParam('query', Ext.encode(form.getValues()));
                                        contentStore.load();
                                    }
                                }
                            ],
                            flex: 1,
                            collapsible: true,
                            collapsed: true,
                        }, {
                            xtype: 'grid',
                            id: 'contentGrid',
                            flex: 1,
                            disabled: true,
                            height: 350,
                            title: 'Contents',
                            store: contentStore,
                            plugins: 'gridfilters',
                            selType: 'rowmodel',
                            selModel: {
                                mode: 'SINGLE'
                            },
                            viewConfig: {
                                stripeRows: true
                            },
                            dockedItems: [{
                                xtype: 'pagingtoolbar',
                                store: contentStore,
                                dock: 'bottom',
                                displayInfo: true
                            }],
                            columns: [{
                                dataIndex: 'name',
                                text: 'Name',
                                flex: 1
                            }, {
                                dataIndex: 'description',
                                text: 'Description',
                                flex: 1
                            }, {
                                dataIndex: 'date_created',
                                text: 'Created',
                                renderer: Ext.util.Format.dateRenderer('H:i:s d.m.Y'),
                                flex: 1
                            }, {
                                dataIndex: 'date_updated',
                                text: 'Updated',
                                renderer: Ext.util.Format.dateRenderer('H:i:s d.m.Y'),
                                flex: 1
                            }, {
                                dataIndex: 'expire_date',
                                text: 'Expire date',
                                renderer: Ext.util.Format.dateRenderer('H:i:s d.m.Y'),
                                flex: 1
                            }, {
                                dataIndex: 'status',
                                text: 'Status',
                                flex: 1
                            }]
                        }
                    ]
                }, {
                    xtype: 'container',
                    flex: 1,
                    layout: {
                        type: 'vbox',
                        align: 'stretch'
                    },
                    items: [
                        {
                            xtype: 'treepanel',
                            id: 'treePanel',
                            title: 'Folder structure (relative to the uploads folder)',
                            flex: 1,
                            useArrows: false,
                            rootVisible: false,
                            store: storeTree,
                            multiSelect: false,
                            listeners: {
                                select: function (grid, record) {
                                    function treeParse(record, dirList = '') {
                                        if (record.parentNode && !record.isLeaf()) {
                                            dirList += record.get('text') + '/' + treeParse(record.parentNode, dirList);
                                            return dirList;
                                        } else {
                                            return '';
                                        }
                                    }

                                    var labelPath = '';
                                    var path = treeParse(record);
                                    var panel = Ext.getCmp('mainPanel');
                                    if (!panel) {
                                        throw 'Cannot reach main panel!';
                                    }
                                    path = path.split('/');
                                    path.reverse();
                                    Ext.each(path, function (item) {
                                        labelPath += item + '/'
                                    });

                                    var importSourceField = panel.down('textfield[name="import_source"]');
                                    importSourceField.setValue(labelPath);
                                }
                            }
                        }, {
                            xtype: 'panel',
                            layout: {
                                type: 'vbox',
                                align: 'stretch'
                            },
                            bodyPadding: 15,
                            items: [{
                                xtype: 'textfield',
                                name: 'import_source',
                                labelAlign: 'top',
                                allowBlank: true,
                                editable: false,
                                flex: 1,
                                fieldLabel: 'Import source'
                            }, {
                                xtype: 'textfield',
                                name: 'csv_separator',
                                labelAlign: 'top',
                                allowBlank: true,
                                value: ',',
                                flex: 1,
                                fieldLabel: 'CSV separator'
                            }, {
                                xtype: 'button',
                                width: 100,
                                text: 'Import data',
                                handler: function (btn) {
                                    var panel = btn.up('panel');
                                    var importSourceField = panel.down('textfield[name="import_source"]');
                                    var csvSeparatorField = panel.down('textfield[name="csv_separator"]');
                                    if (!importSourceField || !csvSeparatorField) {
                                        return;
                                    }
                                    var obj = {
                                        import_source: importSourceField.getValue(),
                                        csv_sep: csvSeparatorField.getValue()
                                    };

                                    Ext.Ajax.request({
                                        url: '/import',
                                        method: 'POST',
                                        params: obj,
                                        success: function (response, opts) {
                                            var obj = Ext.decode(response.responseText);
                                            importSourceField.setValue(null);
                                            var panel = Ext.getCmp('mainPanel');
                                            if (!panel) {
                                                throw 'Cannot reach main panel!';
                                            }
                                            panel.totalGridFilterReset();
                                            var title;
                                            var msg;
                                            if (obj && obj.success) {
                                                title = 'Success';
                                                msg = obj.message ? obj.message : 'Successfully imported!';
                                            } else {
                                                title = 'Error';
                                                msg = obj.message ? obj.message : 'Server-side error!';
                                            }
                                            Ext.Msg.alert(title, msg);
                                        },
                                        failure: function (response, opts) {
                                            Ext.Msg.alert('Error', 'Server-side error!');
                                        }
                                    });
                                }
                            }]
                        }
                    ]
                }
            ],
            devicesGridAndFilterReset: function () {
                var devicesGrid = Ext.getCmp('devicesGrid');
                var devicesStore = devicesGrid.getStore();
                devicesGrid.getSelectionModel().deselectAll();
                devicesStore.getProxy().extraParams = {};
                devicesStore.removeAll();
                devicesStore.load();

                Ext.getCmp('devicesFilterForm').getForm().reset();
                Ext.getCmp('contentGrid').setDisabled(true);
            },
            contentGridAndFilterReset: function () {
                var contentGrid = Ext.getCmp('contentGrid');
                var contentStore = contentGrid.getStore();
                contentGrid.getSelectionModel().deselectAll();

                contentStore.getProxy().extraParams = {};
                contentStore.removeAll();
                Ext.getCmp('contentFilterForm').getForm().reset();
            },
            totalGridFilterReset: function () {
                var me = this;
                me.devicesGridAndFilterReset();
                me.contentGridAndFilterReset();
            }
        });
    });
</script>

{% endblock %}


